.container-home {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
    height: 100vh;
    width: 100vw;
}

.position-absolute {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

footer {
    display: flex;
    width: calc(100% - 330px);
    align-items: center;
    justify-content: space-between;
    margin-top: 33px;
}

.image-logo {
    height: 50px;
    width: auto;
    top: 40px;
}

.image-logout {
    cursor: pointer;
}

.user-current {
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-out {
    cursor: pointer;
}

.profile-name {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin-left: 8px;
    margin-right: 12px;
}

.container-content-home {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 125px);
    background-color: #fff;
    border-radius: 60px 60px 0px 0px;
    font-family: 'Lato', sans-serif;
    border: 1px solid lightgray;
}

.container-table-abstract {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: calc(100% - 330px);
}

.filter-table {
    display: flex;
    position: absolute;
    top: 30px;
    left: 0;
    right: 330px;
}

.filter-table button {
    all: unset;
    display: flex;
    background-color:#FAFAFA;
    border-radius: 10px;
    font-weight: 700;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 15px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.filter-table button img {
    height: 16px;
    width: auto;
    margin-right: 5px;
}

.container-table {
    width: 100%;
    margin-top: 100px;
}

.card-abstract {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-family: 'Rubik', sans-serif;
}
